@media only screen and (min-width: 320px) {
    .main-container {
        align-items: unset;
        height: 600px;
    }

    /*header*/
    .game-header {
        width: 80%;
        margin-bottom: 0px;
        font-size: 16px;
    }

    .game-header h1 {
        font-size: 24px;
    }

    .score-panel {
        width: 240px;
        margin: 10px 0 -10px 0;
    }

    /*cards*/
    .deck {
        width: 350px;
        min-height: 350px;
        padding: 9px;
    }

    .card-size-larger-deck {
        height: 52px;
        width: 52px;
    }

    .card-size-smaller-deck {
        height: 80px;
        width: 80px;
    }

    .deck .card.card-size-larger-deck.show,
    .deck .card.card-size-larger-deck.match {
        font-size: 27px;
    }

    .deck .card.card-size-smaller-deck.show,
    .deck .card.card-size-smaller-deck.match {
        font-size: 45px;
    }

    .show .material-icons, .match .material-icons {
        font-size: 30px;
    }

    /*leaderboard*/
    .btn-leaderboard-section-close {
        font-size: 27px;
    }

    .btn-leaderboard-section-close:hover {
        font-size: 24px;
    }

    .btn-leaderboard-section-close:active {
        font-size: 20px;
    }

    /*message boxes*/
    .message-box {
        width: 106%;
    }

    .message-box-header a {
        right: 48px;
    }

    .message-box h2 {
        font-size: 17px;
    }

    .message-box-body {
        font-size: 80%;
    }

    .message-box-body-content {
        padding: 0 0 0 36px;
    }

    .message-box-label {
        margin: 6px 0 15px 0;
    }

    .checkbox-container {
        padding-left: 25px;
        margin: 0 0 0 18px;
        font-size: 14px;
    }

    .checkbox-container .checkmark {
        height: 18px;
        width: 18px;
    }

    .checkbox-container .checkmark:after {
        left: 6px;
        top: 3px;
    }

    /*message box user*/
    .message-box-user .message-box-container {
        width: 340px;
        height: 270px;
    }

    .message-box-input, .message-box-input:focus {
        border-width: 0 0 1px 0;
    }

    .message-box-user .btn-message-box.btn-message-box-play {
        height: 30px;
        margin: 0 0 3px 0;
        font-size: 75%;
    }

    /*message box game end (finish)*/
    .message-box-game .message-box-container {
        width: 340px;
        height: 300px;
        font-size: 70%;
    }

    .message-box-body-game-score-container {
        width: 100px;
        height: 100px;
    }

    .message-box-body-game-right {
        font-size: 30px;
    }

    .message-box-game .message-box-body-game {
        margin-left: 8%;
        margin-top: 9px;
        font-size: 16px;
    }

    .message-box-game-level-guest-group {
        margin-top: 10px;
    }

    .message-box-game .message-box-footer {
        margin: 40px 0 4px 0;
    }

    .btn-message-box-start-over,
    .btn-message-box-cancel {
        height: 30px;
    }
}

/*overrides width and height for smaller width of less 360px*/
@media only screen and (min-width: 320px) and (max-width: 359px) {
    .deck {
        width: 300px;
        min-height: 300px;
    }

    .card-size-smaller-deck {
        height: 65px;
        width: 65px;
    }

    .card-size-larger-deck {
        height: 45px;
        width: 45px;
    }
}

@media only screen and (min-width: 412px)  {
    .main-container {
        align-items: unset;
        height: 660px;
    }

    .score-panel {
        width: 240px;
        margin: 10px 0 -10px 0;
    }

    .game-header {
        width: 80%;
        margin-bottom: 0px;
        font-size: 16px;
    }

    .game-header h1 {
        font-size: 24px;
    }

    /*leaderboard*/
    .btn-show-leaderboard i {
        font-size: 66px;
    }

    .btn-show-leaderboard {
        font-size: 16px;
    }

    /*cards*/
    .deck {
        width: 400px;
        min-height: 400px;
        padding: 12px;
    }

    .deck .card.show {
        font-size: 40px;
    }

    .deck .card.match {
        font-size: 33px;
    }

    .show .material-icons, .match .material-icons {
        font-size: 45px;
    }

    .card-size-larger-deck {
        height: 60px;
        width: 60px;
    }

    .card-size-smaller-deck {
        height: 90px;
        width: 90px;
    }

    /*message boxes*/
    .message-box {
        font-size: 100%;
    }

    .message-box-user .message-box-container {
        width: 400px;
        height: 320px;
    }


    .message-box-body {
        font-size: 100%;
    }

    .message-box-body-content {
        padding: 0 0 0 24px;
    }

    .message-box-label {
        margin: 6px 0 15px 0;
    }

    .message-box-game {
        font-size: 85%;
    }

    .message-box-game-level-guest-group {
        margin-top: 10px;
    }

    .btn-message-box {
        margin: 0 3px 6px 0;
    }

    .checkbox-container {
        font-size: 18px;
    }

    .message-box-game .message-box-container {
        width: 400px;
        height: 330px;
    }

    .message-box-game .message-box-body-game {
        margin-left: 8%;
        margin-top: 9px;
        font-size: 18px;
    }

    .message-box-game .message-box-footer {
        margin: 40px 9px 9px 0;
    }

    .btn-leaderboard-section-close {
        font-size: 27px;
    }

    .btn-leaderboard-section-close:hover {
        font-size: 24px;
    }

    .btn-leaderboard-section-close:active {
        font-size: 20px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 1024px)  {
    .main-container {
        align-items: unset;
        height: 900px;
    }

    .game-header h1 {
        font-size: 32px;
    }

    .score-panel {
        width: 450px;
        font-size: 35px;
    }

    /*cards*/
    .deck {
        width: 630px;
        min-height: 630px;
        padding: 12px;
    }

    .deck .card.card-size-larger-deck.show,
    .deck .card.card-size-larger-deck.match {
        font-size: 50px;
    }

    .deck .card.card-size-smaller-deck.show,
    .deck .card.card-size-smaller-deck.match {
        font-size: 80px;
    }

    .show .material-icons, .match .material-icons {
        font-size: 80px;
    }

    .card-size-larger-deck {
        height: 90px;
        width: 90px;
    }

    .card-size-smaller-deck {
        height: 140px;
        width: 140px;
    }

    /*message boxes*/
    .message-box h2 {
        font-size: 24px;
    }

    .message-box-header a {
        font-size: 42px;
    }

}

@media only screen and (min-width: 1024px) and (max-width: 1024px) {
    .main-container {
        height: 1200px;
    }
}